# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# YOLO training outputs
# =========================
runs/

# =========================
# Large dataset files
# =========================
dataset/train/
dataset/valid/
dataset/test/

# Dataset caches
*.cache

# =========================
# Backend temporary files
# =========================
backend/uploads/
backend/results/

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db